.CardGame {
  display: flex;
  justify-content: center;
  transform-style: preserve-3d;
}
.face {
  border: var(--color-border) 4px solid;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  align-items: center;
  height: 160px;
  width: 130px;
  border-radius: 10px;
}
.front {
  background-color: var(--color-card);
  transform: rotateY(180dg);
}
.back {
  background-color: var(--color-card-back);
}

.flip {
  transform: rotateY(180dg);
}
